body { margin:0px 0px; padding:0px; } 

* { box-sizing: Border-box } 

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#c1 {
	left:7px;
	top:62px;
	width:125px;
	height:110px;
	background-image:url(../img/c1.png);
}

#c2 {
	left:7px;
	top:62px;
	width:125px;
	height:96px;
	background-image:url(../img/c2.png);
}

#c3 {
	left:7px;
	top:62px;
	width:142px;
	height:94px;
	background-image:url(../img/c3.png);
}

#CTA {
	left:14px;
	top:315px;
	width:111px;
	height:26px;
}

#CTABG {
	width:111px;
	height:26px;
	background-color:#01a982;
}

#CTA_Copy {
	left:22px;
	top:9px;
	width:74px;
	height:11px;
	background-image:url(../img/cta_copy.png);
}

#cta_copy {
	left:30px;
	top:283px;
	width:74px;
	height:11px;
	background-image:url(../img/cta_copy.png);
}

#cta_fpo {
	left:13px;
	top:273px;
	width:107px;
	height:31px;
	background-image:url(../img/cta_fpo.png);
}

#ef {
	left:-1px;
	top:-1px;
	width:160px;
	height:600px;
	background-image:url(../img/ef.png);
}

#replay {
	right:9px;
	top:10px;
	width:10px;
	height:11px;
	cursor: pointer;
	background-image:url(../img/replay.png);
}

#background {
	left:0px;
	top:297px;
	width:274px;
	height:184px;
	background-image:url(../img/background.jpg);
}

#dark{
	left: 0px;
	top: 131px;
	width: 160px;
	height: 600px;
	background-image: url(../img/dark.png);
}

#bg_dark{
	left: 0px;
	top: 0px;
	width: 160px;
	height: 600px;
	background-image: url(../img/bg_dark.jpg);
}